* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
header {
  display: flex;
  align-items: center;
  width: 1260px;
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 244px;
}
.logo-image {
  width: 50px;
  height: 49.99px;
  justify-content: start;
}
.logo-1-text {
  color: #236967;
  font-size: 21px;
}
.logo-2-text {
  font-weight: 400;
  color: #216d6b;
  font-size: 20px;
}
nav {
  margin: 12px 0 12px 76px;
  display: flex;
  align-items: center;
  gap: 42px;
  width: 353px;
  height: 24px;
}
.nav-education {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2%;
  color: #000000;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2%;
  color: #000000;
}
.icons-container {
  display: flex;
  align-items: center;
  gap: 27px;
  margin-left: 259px;
}
.icons {
  width: 18.67px;
  height: 18.67px;
  padding: 12.67px 14.67px;
}
main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 1260px;
}
#hero-section {
  display: flex;
  justify-content: space-between;
  width: auto;
}
.hero-section__title-button {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}
.hero-section__title {
  font-size: 50px;
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 2%;
  width: 560px;
  height: 198px;

  margin-top: 60px;
  color: #000000;
}
.hero-section__trial-button {
  border-radius: 30px;
  font-weight: 600;
  color: #ffffff;
  background-color: #236967;
  padding: 18px 38px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1%;
  border: none;
  gap: 10px;
  margin-bottom: 68px;
  width: auto;
}
.hero-section__trial-button:hover {
  background-color: #1a4c4b;
  cursor: pointer;
}
.hero-section__image {
  width: 450px;
  height: 425px;
}
#languages-section {
  background-color: #fffbed;
  border-radius: 70px;
  width: 1260px;
  height: 274px;
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
.languages-section__title {
  color: #000000;
  font-size: 20px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 2%;
}
.countries-images {
  width: 40px;
  height: 40px;
  background-color: #fffbed;
}
.launguages {
  color: #363636;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
}
.launguages-section__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: auto;
  margin-top: 75px;
}
.launguages-string {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 40px;
}
.flag-language {
  display: flex;
  align-items: center;
  gap: 30px;
}
#features-section {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  width: 1234px;
  height: 154px;
}
.features-section__intro-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.features-section__title {
  color: #000000;
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 2%;
}
.features-section__intro {
  color: #363636;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0px;
}
.features-section__step-1 {
  color: #363636;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2%;
  border-left: 6px solid transparent;
  border-left-color: #fdd503;
  padding-left: 14px;
}
.features-section__step-2 {
  color: #363636;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2%;
  border-left: 6px solid transparent;
  border-left-color: #fe7167;
  padding-left: 15px;
}
.features-section__steps {
  display: flex;
  gap: 65px;
  align-items: flex-end;
}
#cta-section {
  margin-top: 140px;
  display: flex;
  width: 1260px;
  height: 420px;
  background-color: #fffbed;
  border-radius: 70px;
  align-items: center;
  justify-content: center;
}
.cta-section__content {
  display: flex;
  gap: 181px;
}
.cta-section__title-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.cta-section__title {
  color: #000000;
  font-size: 30px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 2%;
}
.cta-section__trial-button {
  border-radius: 30px;
  font-weight: 600;
  color: #ffffff;
  background-color: #236967;
  padding: 18px 38px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1%;
  border: none;
  width: auto;
}
.cta-section__trial-button:hover {
  background-color: #1a4c4b;
  cursor: pointer;
}
.cta-section__image {
  width: 290px;
  height: 286px;
}
#results-section {
  margin-top: 140px;
  display: flex;
  justify-content: center;
}
.results-section__content {
  width: fit-content;
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.results-section__img-methods {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}
.results-section__img-methods__container {
  background-color: #fffbed;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
.pd-1 {
  padding: 28px 37px;
}
.pd-2 {
  padding: 28px 51px 28px 37px;
}
.pd-3 {
  padding: 28px 42px 28px 37px;
}
.pd-4 {
  padding: 28px 20px 28px 37px;
}
.method-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.results-section__title {
  color: #000000;
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 2%;
  text-align: center;
}
.method {
  color: #363636;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2%;
  height: 78px;
}
.width-1 {
  width: 190px;
}
.width-2 {
  width: 222px;
}
.width-3 {
  width: 172px;
}
.width-4 {
  width: 185px;
}
.width-5 {
  width: 239px;
}
.results-section__small-images {
  width: 40px;
  height: 40px;
}
.results-section__img-methods__row {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
}
#values-section {
  margin-top: 140px;
  display: flex;
  gap: 73px;
  width: fit-content;
  margin-left: 87px;
}
.values-section__image {
  width: 353px;
  height: 313px;
}
.values-section__text-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}
.values-section__title {
  color: #000000;
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 2%;
  margin-top: 22px;
}
.circles-values-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.circle-line-value_row {
  display: flex;
  flex-direction: row;
}
.circle-line {
  display: flex;
  align-items: center;
  gap: 4px;
}
.circle-line-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.margin-1 {
  margin-right: 100px;
}
.margin-2 {
  margin-right: 96px;
}
.margin-3 {
  margin-right: 104px;
}
.margin-4 {
  margin-right: 110px;
}
.width_1 {
  width: 66px;
}
.width_2 {
  width: 62px;
}
.width_3 {
  width: 144px;
}
.width_4 {
  width: 245px;
}
.value {
  color: #363636;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
}
.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.dark-green {
  background-color: #236967;
}
.coral {
  background-color: #fe7167;
}
.orange {
  background-color: #fc8b4c;
}
.yellow {
  background-color: #fdd503;
}
.dashed-line {
  border-top: 2px dashed;
}
.color-1-width-1 {
  border-color: #236967;
  width: 46px;
}
.color-2-width-2 {
  border-color: #fe7167;
  width: 126px;
}
.color-3-width-3 {
  border-color: #fc8b4c;
  width: 166px;
}
.color-4-width-4 {
  border-color: #fc8b4c;
  width: 36px;
}
.color-5-width-5 {
  border-color: #fdd503;
  width: 106px;
}
.color-6-width-6 {
  border-color: #236967;
  width: 206px;
}
#pricing-section {
  margin-top: 140px;
}
.pricing-section__title {
  color: #000000;
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 2%;
  text-align: center;
}
.pricing-section__info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 30px;
}
.types-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.lesson-type {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
}
.types-container__underline {
  background-color: #94c6c4;
  width: 260px;
  height: 2px;
}
.type-underline:active .types-container__underline {
  background-color: #236967;
}
.type-underline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.durations-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.duration {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
}
.duration-underline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.durations-container__underline {
  width: 140px;
  height: 3px;
  background-color: #94c6c4;
}
.duration-underline:active .durations-container__underline {
  background-color: #236967;
  cursor: pointer;
}
.course-card__info {
  color: #363636;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
}
.course-card__price {
  color: black;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 2%;
  text-align: center;
}
.course-card__button {
  color: white;
  background-color: #236967;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1%;
  border-radius: 30px;
  border: none;
  padding: 18px 38px;
}
.course-card__button:hover {
  background-color: #1a4c4b;
  cursor: pointer;
}
.course-card__image {
  width: 300px;
  height: 150px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.course-card {
  display: flex;
  flex-direction: column;
  background-color: #fffbed;
  border-radius: 30px;
  align-items: center;
  gap: 40px;
  width: 300px;
  height: 420px;
}
.pricing-section__cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 73px;
  justify-content: center;
}
.info-price {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
#sign-up-section {
  background-color: #fffbed;
  margin: 140px 107px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 180px;
  width: 1002px;
  height: 610px;
  border-radius: 70px;
}
.sign-up-section__image {
  width: 245px;
  height: 122px;
}
.first-img {
  border-top-right-radius: 70px;
}
.last-img {
  border-bottom-right-radius: 70px;
}
.sign-up-section__images-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-up-section__title {
  color: black;
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 2%;
  text-align: center;
}
.learner {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
}
.learners-container__underline {
  width: 200px;
  height: 2px;
  background-color: #94c6c4;
}
.learners-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.learner-underline-container {
  display: flex;
  flex-direction: column;
}
.learner-underline-container:active .learners-container__underline {
  background-color: #236967;
  cursor: pointer;
}
.choice-language {
  border: 1px solid #ffeca0;
  background-color: #ffffff;
  padding: 12px 20px;
  border-radius: 10px;
  color: #363636;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2%;
}
.choice-language:focus {
  outline: 2px solid #94c6c4;
}
.personal-data {
  color: #363636;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ffeca0;
  padding: 12px 20px;
}
.personal-data:focus {
  outline: 2px solid #94c6c4;
}
.sign-up-section__button {
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1%;
  border-radius: 30px;
  padding: 18px 38px;
  background-color: #236967;
  border: none;
  width: 171px;
}
.sign-up-section__button:hover {
  background-color: #1a4c4b;
  cursor: pointer;
}
.user-fields-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.name-fields,
.contact-age-fields {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.registration-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer {
  display: flex;
  background-color: #fffbed;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  width: 100%;
  height: 430px;
  justify-content: center;
  align-items: center;
}
.footer__foreign-languages,
.footer__contacts {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
}
.footer__training-formats,
.footer__contact-details {
  color: #363636;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2%;
}
.text-right {
  text-align: right;
}
.footer__button {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1%;
  background-color: #236967;
  padding: 18px 38px;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
}
.footer__button:hover {
  background-color: #1a4c4b;
  cursor: pointer;
}
.footer__logo-image {
  width: 289px;
  height: 60px;
}
.footer__copyright {
  color: #363636;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2%;
}
.training-formats-main-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.training-formats-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.contacts-main-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.contact-details-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__icons-container {
  display: flex;
  flex-direction: row;
  gap: 26px;
  justify-content: center;
  margin-top: 20px;
}
.footer-content-container {
  display: flex;
  flex-direction: row;
  width: 971px;
  justify-content: space-between;
}
.footer__main-container {
  display: flex;
  flex-direction: column;
  gap: 47px;
}
